header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #2E8BC0;
}
#mainTitle {
    font-size: 50px;
    letter-spacing: 2px;
}